@namespace ComponentsLib



<div class="mx-2 text-white my-2" style="border-top:2px solid; opacity:0.6"></div>

<div class="scrollable-div">
    <ul class="rounded-badges mx-2">
        <li>List Item 1</li>
        <li>List Item 2</li>
        <li>List Item 3</li>
        <li>List Item 4</li>
        <li>List Item 5</li>

        <li>List Item 3</li>
        <li>List Item 4</li>
        <li>List Item 5</li>

        <li>List Item 3</li>
        <li>List Item 4</li>
        <li>List Item 5</li>


        <li>List Item 3</li>
        <li>List Item 4</li>
        <li>List Item 5</li>


        <li>List Item 3</li>
        <li>List Item 4</li>
        <li>List Item 5</li>

    </ul>

</div>



@code {

}
