@namespace ComponentsLib

<div class="navbar navbar-dark">
    <div class="container-fluid">
        <CptIconMenuPosition ParamIconPath="/images/MenuIcons/LogoIcon.svg" ParamIsSelected="true" ParamIconText="" />
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item ">
            <NavLink class="nav-link" href="@DomainUrls.UnLogged.Home" Match="NavLinkMatch.All">
                <CptIconMenuPosition ParamIconPath="/images/MenuIcons/StarIcon.svg"  ParamIsSelected="true" ParamIconText="Zakładka1" />
            </NavLink>

        </div>

        <div class="nav-item " >
            <NavLink class="nav-link" href="@DomainUrls.UnLogged.SecondPage">
                <CptIconMenuPosition ParamIconPath="/images/MenuIcons/StarIcon.svg" ParamIsSelected="false" ParamIconText="Zakładka1" />
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
