@namespace ComponentsLib
@inherits LayoutComponentBase


<PageTitle>BlazorServerProjectDragAndDrop</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @Body
    </main>
    <CptShiftKeyListener/>
</div>

