@namespace ComponentsLib
@inject IServiceManager ServiceManager


<div class="LocalGrid p-2 " @ondragend="()=>OnDragEnd()" @ondragenter="()=>OnPanelEnter()" @ondragleave="OnPanelLeave">

    @foreach (var user in ParamUsers)
    {
        <div class="grid-item " @ondragstart="()=>OnUserDragStart(user.Id)">
            <UserCard ParamUserId="user.Id" />
        </div>

    }

@*     @if (ParamUsers.Count ==0)
    {
        <div class="grid-item w-100 ">

        </div>
    } *@

</div>


@code {

    [Parameter] public List<ModelUser> ParamUsers { get; set; } = new();

    [Parameter] public EnumUserGroup ParamUserGroupType { get; set; } = EnumUserGroup.Grupa1;


    public async void OnDragEnd()
    {
        var draggedUsers = ServiceManager.DragDropLS.CurrentUsersBeingDragged;

        var CurrentGroup = ServiceManager.DragDropLS.LastDragedPannel;

    foreach (var userId in draggedUsers)
        {
            await ServiceManager.UserServiceLS.MoveUserToGivenGroup(userId, CurrentGroup);
        }

    }

    public void OnPanelEnter()
    {
        ServiceManager.DragDropLS.LastDragedPannel = ParamUserGroupType;
    }

    public void OnPanelLeave()
    {
      //  ServiceManager.DragDropLS.LastDragedPannel = null ;
    }


    public void OnUserDragStart(Guid UserId)
    {
        ServiceManager.DragDropLS.CurrentUsersBeingDragged.Clear();
        ServiceManager.DragDropLS.CurrentUsersBeingDragged.Add(UserId);
    }



}
