
.LocalGrid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(130px,2fr));
    padding-block: 2rem;
    width: 100%;
    margin-inline: auto;
    
}


.grid-item {
   /* background-color: #f0f0f0; */
}

    .grid-item:nth-child(2n) {
/*        background-color: #b0c4de; */
    }
