@namespace ComponentsLib
@inject IServiceManager ServiceManager

<div class=" rounded h-100 transparent-blur">

    <div class="d-flex justify-content-between px-2 pt-2 mb-5">
        <span class="fw-bold text-white">Użytkownicy</span>
        <span></span>
        <span class="text-end">:</span>

    </div>

    <div class="p-3">
        <UserViewer ParamUsers="Users" />
    </div>



 

    <ActionViewer/>

</div>


@code {
    public List<ModelUser> Users { get; set; } = new();


    protected override async Task OnParametersSetAsync()
    {

        var GetUsersResult = await ServiceManager.UserServiceLS.GetUsersBasedOnGroup(EnumUserGroup.None);

        if (GetUsersResult.IsSuccess)
        {
            Users = GetUsersResult.Value;
        }

    }
}
