@namespace ComponentsLib
@inject IServiceManager ServiceManager


<div class="LocalGrid p-2">

    @foreach (var user in ParamUsers)
    {
        <div @ondragenter="()=>OnUserDragEnter(user.Id)">
            <UserCard ParamUserId="user.Id" />
        </div>

    }

</div>


@code {

    [Parameter] public List<ModelUser> ParamUsers { get; set; } = new();


    public void OnUserDragEnter(Guid UserId)
    {
        ServiceManager.DragDropLS.CurrentUsersBeingDragged.Clear();
        ServiceManager.DragDropLS.CurrentUsersBeingDragged.Add(UserId);
    }



    protected override async Task OnParametersSetAsync()
    {


        // var GetUsersResult = await ServiceManager.UserServiceLS.GetUsersBasedOnGroup(EnumUserGroup.None);

        // if (GetUsersResult.IsSuccess)
        // {
        //     Users = GetUsersResult.Value;
        // }


    }
}
