



.LocalUserCardStyle {
    max-width: 200px;
    cursor: grab;
    line-height: 20px;
    font-size: 14px;
    font-family: Verdana;
    font-weight: 400;
    color: #3A4449;
    /*user-select: all;*/
    background-color: white;
}

.grid-item-selected .LocalUserCardStyle {
    background-color: #fbf499;
}

.LocalBottomText {
    background-color: #32293F;
    color: white;
    padding: 1em;
}

    .LocalBottomText .LocalizationIcon {
        color: black;
        width: 20px;
        height: 15px;
    }





.grid-item:nth-child(2n) .LocalUserCardStyle .LocalBottomText {
    background-color: #6BC79D;
}

    .grid-item:nth-child(2n) .LocalUserCardStyle .LocalBottomText svg path {
        fill: black;
    }
