@namespace ComponentsLib

@* COMPONENT THAT HIDDES BODY WHILE LOADING IS PRESENT *@

@if (ParamIsLoading)
{

    <div class="SpinnerCenterClass">
        <div class="spinner-border text-danger SpinnerStyle" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    @ChildContent
}




@code {
    [Parameter]public bool ParamIsLoading { get; set; } = true;
    [Parameter] public bool ParamIsSpinnerCenter { get; set; } = true;
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private string SpinnerCenterClass => (ParamIsSpinnerCenter) ? "text-center" : "text-start";
}