@namespace PagesLib
@attribute [Route(DomainUrls.UnLogged.SecondPage)]



<PageTitle>Other Page</PageTitle>

<div class="d-flex h-100 min-vh-100" style="flex-direction:column">
    <div class="" style="flex-grow:1">

    </div>
</div>

